<!DOCTYPE html>
<html>
  <head>
    <title>CodingWebsite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if account_signed_in? %>
      <%= render Core::Header::HeaderComponent.new(signed_in: true, account: current_account ) %>
    <% else %>
      <%= render Core::Header::HeaderComponent.new(signed_out: true) %>
    <% end %>

    <section class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 pt-4">
            <%= yield %>
          </div>
        </div>
      </div>
    </section>

  </body>
</html>
